DATA_PATH=/Users/david/Documents/data/tomo/scratch
VITE_TILED_DEFAULT_FILE_ID=rec20230606_152011_jong-seto_fungal-mycelia_flat-AQ_fungi2_fast #the first file that will be automatically loaded into the viewer app
VITE_API_TILED_URL=http://localhost:8000/api/v1 #optional custom url for tiled
#VITE_TILED_PORT=8001 #optionally specify the tiled port (not to be used with VITE_API_TILED_URL) (will assume same hostname as browser)