DATA_PATH=/path/to/your/zarr/data #directory of zarr datasets served by tiled
VITE_TILED_DEFAULT_FILE_ID=your-default-dataset-id #the first file that will be automatically loaded into the viewer app
VITE_API_TILED_URL=http://localhost:8000/api/v1 #optional custom url for tiled
# VITE_API_TILED_URL=https://tiled-staging.computing.als.lbl.gov/api/v1
#VITE_TILED_PORT=8001 #optionally specify the tiled port (not to be used with VITE_API_TILED_URL) (will assume same hostname as browser)
VITE_TILED_PROCESSED_PATH=beamlines/bl832/processed #parent catalog path whose subfolders populate the folder dropdown (defaults to beamlines/bl832/processed)